<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carikado">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".splashscreen.view.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.view.MainActivity" />
        <activity
            android:name=".review.view.activity.ReviewActivity"
            android:parentActivityName=".main.view.MainActivity" />
        <activity
            android:name=".resultgift.view.activity.ResultGiftActivity"
            android:parentActivityName=".main.view.MainActivity" />
        <activity
            android:name=".giftinfodetail.view.activity.GiftInfoDetailActivity"
            android:parentActivityName=".main.view.MainActivity" />
        <activity
            android:name=".emailhelp.view.activity.EmailHelpActivity"
            android:parentActivityName=".main.view.MainActivity" />
    </application>

</manifest>